@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

/* Barra de desplazamiento personalizada */
html {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #0b0b0b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 9999px;
  border: 2px solid #0b0b0b;
}

::-webkit-scrollbar-thumb:hover {
  background: #eab308;
}

/* Background destacados*/
.bg-destacados {
  background: linear-gradient(to bottom right, #e2e8f0, #cbd5e1, #facc15);
}

/* Iconos redes sociales */
.social {
  background-color: #3a391b; /* Fondo personalizado */
  border-radius: 9999px; /* Totalmente redondeado */
  padding: 0.25rem; /* Espaciado interno */
  width: 1.5rem; /* Ancho */
  height: 1.5rem; /* Alto */
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra contenido horizontalmente */
  align-items: center; /* Centra contenido verticalmente */
  transition: transform 0.2s ease, background-color 0.2s ease; /* Transiciones */
}

.social:hover {
  transform: scale(1.1); /* Agranda ligeramente al pasar el mouse */
  background-color: #facc15; /* Cambia el color de fondo al amarillo */
}

/* WhatsApp Floating */
.floating-whatsapp-button {
  width: 40px !important; /* Cambia el tamaño del contenedor */
  height: 40px !important;
  bottom: 20px; /* Ajusta la posición si es necesario */
  right: 50px;
}
